body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    
    header {
        nav {
            background-color: rgba(0,0,0,0.8);
            ul {
                padding-left: 15%;
                padding-right: 15%;
                margin: 0;
                
                display: flex;
                flex-direction: row;
                list-style: none;
                
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                
                li {
                    padding: 0;
                    
                    a {
                        height: 100%;
                        margin: 0;
                        color: rgba(255,255,255,0.7);
                        
                        display: flex;
                        text-decoration: none;
                        font-size: 0.7em;
                        letter-spacing: 0.05em;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .unicef {
            background-color: #f5f5f7;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.85em;

            a {
                text-decoration: none;
                color: rgb(0, 102, 204);

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                display: inline-block;
                height: 32px;
                margin: 20px;
            }
        }


    }

}