body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    
    nav {
        background-color: rgba(45, 45, 45, 0.99);
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        ul {
            padding-left: 15%;
            padding-right: 15%;
            margin: 0;
            
            display: flex;
            flex-direction: row;
            list-style: none;
            
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            
            li {
                padding: 0;
                
                a {
                    color: rgba(255,255,255,0.7);
                    
                    display: flex;
                    text-decoration: none;
                    font-size: 0.7em;
                    letter-spacing: 0.05em;

                    &:hover {
                        color: white;
                    }

                    img {
                        opacity: 80%;
                    }
                }
            }
        }
    }

    .unicef {
        background-color: #f5f5f7;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85em;

        a {
            text-decoration: none;
            color: rgb(0, 102, 204);

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            display: inline-block;
            height: 32px;
            margin: 20px;
        }
    }

    main {
        .main-elem {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            
            .main-elem-texts {
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h1 {
                    font-size: 3em;
                    font-weight: bold;
                    margin-top: 3%;
                    margin-bottom: 0;
                }
    
                h2 {
                    font-size: 1.5em;
                    font-weight: 200;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    font-weight: bolder;
                }
    
    
                > .sublinks {
                    width: 20%;
                    display: flex;
                    justify-content: space-around;
    
                    position:relative;
                    pointer-events: none;
                    
                    > a {
                        z-index: 2;
                        pointer-events: all;
                    }
                    > a:hover {
                        text-decoration: underline;
                    }
                }
            }

            img {
                position: relative;
                z-index: -1;
                max-width: 230%;
                object-fit: contain;
                margin: 0;
            }

            > a.overlay {
                position:absolute;
                left:0; 
                top:0; 
                bottom:0; 
                right:0;
            }

            a {
                text-decoration: none;
                color: rgb(0, 102, 204);
                font-size: 1.3em;
            }

        }

        .small-elems-container {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: space-around;
            align-self: center;
            overflow: hidden;

            .small-elem {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 500px;
                width: 49%;
                margin: 0.5%;
                overflow: hidden;

                .small-elem-texts {
                    width: auto;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        margin: 0;
                    }

                    h2 {
                        font-weight: 300;
                    }

                    > .sublinks {
                        display: flex;
                        justify-content: space-around;
        
                        position:relative;
                        pointer-events: none;
                        
                        > a {
                            z-index: 2;
                            pointer-events: all;
                        }
                        > a:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
                img {
                    position: relative;
                    z-index: -1;
                    max-width: 150%;
                    object-fit: contain;
                }

                > a.overlay {
                    position:absolute;
                    left:0; 
                    top:0; 
                    bottom:0; 
                    right:0;
                }
    
                a {
                    text-decoration: none;
                    color: rgb(0, 102, 204);
                    font-size: 1.3em;
                }
            }

        }
    }

    footer {
        width: auto;
        background-color: #f5f5f7;
        padding: 0% 20% 0% 20%;


        p {
            font-size: 0.7em;
            color: #6e6e73;
            line-height: 1.5em;
            letter-spacing: 0.05em;

            > a {
                color: #424245;
                text-decoration: none;
            }

            > a:hover {
                text-decoration: underline;
            }
        }
    }
}
